.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  column-gap: 15px;

  section {
    height: 380px;
  }
}

.card {
  height: min-content;

  section {
    height: 380px;
    /* position: absolute; */
  }
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
